# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/company_test

# JWT Secret Key
JWT_SECRET=279588981ca80e8b330c6869e40e849a8f0420905635f3cb22c4ea3a9e1be4af

# Email Configuration
EMAIL_USER=internxindia@gmail.com
EMAIL_PASS=bzyw tdio oekt bzpk

# Server Configuration
PORT=5006
NODE_ENV=production

# Frontend URL (update with your domain)
FRONTEND_URL=internx.cc